<h1><%= @product.name %></h1>
<h3>Product Details:</h3>
<p>Cost: $ <%= @product.cost %> dollars</p>
<p>This product is from <%= @product.country_of_origin %></p>

<h3>Reviews:</h3>
<% if @product.reviews.any? %>
  <h4>User reviews:</h4>
  <% @product.reviews.each do |review| %>
    <ul>
      <li><%= review.author %> says: <%= review.content_body %> They give this product a rating of <%= review.rating %></li>
      <li><%= link_to "edit this review", edit_product_review_path(@product, review), class:"hyperlinks"%></li>
    </ul>
  <% end %>
<% else %>
  <p>There are no reviews for this product.</p>
<% end %>

<p><%= link_to "Add a review", new_product_review_path(@product), class:"hyperlinks"%></p>

<p><%= link_to "Edit product", edit_product_path(@product), class:"hyperlinks"%></p>
<p><%= link_to "Delete product", product_path(@product),
                                  :data => {:confirm => "Are you certain that you want to delete this product entry?", :method => "delete"}, class:"hyperlinks"%></p>
<p><%= link_to "Return to browsing the product list", products_path, class:"hyperlinks"%></p>
