<h1><%= @product.name %></h1>
<h3>Product Details:</h3>
<p>Cost: $ <%= @product.cost %> dollars</p>
<p>This product is from <%= @product.country_of_origin %></p>

<p><%= link_to "Edit product", edit_product_path(@product) %></p>
<p><%= link_to "Delete product", product_path(@product),
                                  :data => {:confirm => "Are you certain that you want to delete this product entry?", :method => "delete"} %></p>
<p><%= link_to "Return to browsing the product list", products_path %></p>
