<!DOCTYPE html>
<html>
  <head>
    <title>SpecialtyStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
<!-- a solution that I learned on my stack underflow project with my pair, H.D. -->
    <% if flash[:alert] %>
      <div class=" <%= flash[:alert]["class"] %>">
        <%= flash[:alert]["content"] %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class=" <%= flash[:notice]["class"] %>">
        <%= flash[:notice]["content"] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
