<!DOCTYPE html>
<html>
  <head>
    <title>SpecialtyStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <nav class="nav-header">
        <p><%= link_to "Home", root_path, class:"hyperlinks"%></p>
        <p><%= link_to "Products", products_path, class:"hyperlinks"%></p>
      </nav>
    </div>
    <div class="container">
<!-- a solution that I learned on my stack underflow project with my pair, H.D. -->
    <% if flash[:alert] %>
      <div class=" <%= flash[:alert]["class"] %>">
        <%= flash[:alert]["content"] %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class=" <%= flash[:notice]["class"] %>">
        <%= flash[:notice]["content"] %>
      </div>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
